// font-family: 'Mulish', sans-serif;

// fonts
$font-main: 'Mulish', sans-serif;

// colors
$color-text: #292b2c;
$color-accent: #f07400;
$color-light-grey: #fafafa;

// media query breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
